.vs/MyRESTService/v15/.suo
.vs/MyRESTService/v15/Server/sqlite3/db.lock
.vs/MyRESTService/v15/Server/sqlite3/storage.ide
.vs/MyRESTService/v15/Server/sqlite3/storage.ide-shm
.vs/MyRESTService/v15/Server/sqlite3/storage.ide-wal
.vs/WcfServiceLetsCodeTest/v15/.suo
.vs/WcfServiceLetsCodeTest/v15/Server/sqlite3/db.lock
.vs/WcfServiceLetsCodeTest/v15/Server/sqlite3/storage.ide
.vs/config/applicationhost.config
